body {
    background: rgb(255,65,2);
    background: radial-gradient(circle, rgba(255,65,2,1) 0%, rgba(205,252,69,1) 100%); 
    }
    

.logopaçoca {
    display: flex;
    justify-content: center;
}

.imgpaçoca {
    width: 25%;

}

.links {
    text-align: center;  
		
}
.espaco{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px;
}


.escritah3 {
    text-align: center;
    

}


.coluna {
     width: 100%;
     float: left;
}

@media (min-width: 800px) {
    .coluna{
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .coluna{
        width: 25%;
    }
}


.partefinal {
    text-align: center;
}


.img {
    display: flex;
    justify-content: center;
    
}